<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
				xmlns:sec="http:/www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<!--CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  	
<title>
       АСТУЭ
</title> 
        <!-- add icon link -->
        <link rel = "icon" href="images/home-thumbnail.png" type = "image/x-icon">
 </head>
<body >

<!-- 

class="container" style="background-image:  url('images/background.jpg'); background-size: cover;"
 -->

<div class="wrapper text-black" >
		<header>
				<!-- NAVBAR -->
				<nav class="navbar navbar-expand-lg bg-light">
				  <div class="container-fluid">
				     <a class="navbar-brand" href="#">АСТУЭ</a>
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarSupportedContent">
				      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				        <li class="nav-item">
				          <a class="nav-link active" aria-current="page" href="#">Home</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="#">Link</a>
				        </li>
				        <li class="dropdown">
				          <a class="nav-link dropdown-toggle"  sec:authorize="hasRole('ROLE_ADMIN')" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">ForAdmin <span class="caret"></span></a>
				          <ul class="dropdown-menu" >
				            <li><a href="/listusers">List users</a></li>
				            <li><a href="/adduser">Add user</a></li>
				             <li><hr class="dropdown-divider"></li>
				            <li><a href="#">Page 1-3</a></li>
				          </ul>
				        </li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li>
				        	<form th:action="@{/logout}" method="post">
								<input type="submit" value="Logout">
							</form>
						</li>
				        <li>
				        	<a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
				       	</li>
				      </ul>
				    </div>
				  </div>
				</nav>
		</header>
		
		
		<main>
		
				
				  <div class="row header" >
				    <div class="col-xs-12">
				      <h1>Bootstrap 3 2-Column Layout </h1>
				    </div>
				  </div>
				  
				  <div class="row">
				    <div class="col-sm-6 first-column">
				      <p>Welcome back [[${#httpServletRequest.remoteUser}]]</p>
				    </div>
				    <div class="col-sm-6 second-column">
				      <p>
				      	<h1  class="text-left bg-primary7 mb-5 p-5">Welcome back [[${#httpServletRequest.remoteUser}]]</h1>
				      </p>
				    </div> 
				  </div>
		</main>		  
		
		<footer>
		
		  	<div>
				    	<p>some text <a href="#" class="text-black">Casale 2022</a>, by <a href="#" class="text-black">some text</a>.</p>
			</div>
			
			<div class="container">
		      <h2 style="padding: 20px;">Bootstrap 4 Flexbox with Auto-Margins Tricks </h2>
			</div>
		
		</footer>		  
</div>		
		
		

</body>

</html>